---
layout: core
---

<div id="about" class="row section">
    <div class="col-xs-12">
        {% include masks/about.html %}
    </div>
</div>
<div id="projects" class="row section">
    <div class="col-xs-12">
        {% include masks/projects.html %}
    </div>
</div>
<div id="cv" class="row section">
    <div class="col-xs-12">
        {% include masks/CV.html %}
    </div>
</div>
<div id="mentorship" class="row section">
    <div class="col-xs-12">
        {% include masks/mentorship.html %}
    </div>
</div>
<div id="vision" class="row section">
    <div class="col-xs-12">
        {% include masks/heart.html %}
    </div>
</div>
<div id="onTheNet" class="row section">
    <div class="col-xs-12">
        {% include masks/onTheNet.html %}
    </div>
</div>
<div id="contact" class="row section">
    <div class="col-xs-12">
        {% include masks/contactMe.html %}
    </div>
</div>
