<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24295249-1']);
    _gaq.push(['_setDomainName', 'slashsbin.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    var heap = heap || [];
    heap.load = function(a) {
        window._heapid = a;
        var b = document.createElement("script");
        b.type = "text/javascript", b.async = !0, b.src = ("https:" === document.location.protocol ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(b, c);
        var d = function(a) {
            return function() {
                heap.push([a].concat(Array.prototype.slice.call(arguments, 0)))
            }
        }, e = ["identify", "track"];
        for (var f = 0; f < e.length; f++)
            heap[e[f]] = d(e[f])
    };
    heap.load("180761888");
</script>
<script>
    var _prum = [['id', '5274d079abe53d5e5c000000'],
        ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
                , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
</script>
<script type="text/javascript">
    var _qevents = _qevents || [];
    (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
    })();
    _qevents.push({
        qacct: "p-psmXKFhjWChvy"
    });
</script>
<noscript>
<div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-psmXKFhjWChvy.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
