<h2><span class="name">Mohammad Shokri's</span> Resume</h2>

<h3 id="TOC">T.O.C</h3>
<ul>
    <li><a href="#summary">Background Summary</a></li>
    <li><a href="#experiences">Experiences</a></li>
    <li><a href="#tags">Technology Tags</a></li>
    <li><a href="#projects">Highlighted Projects</a></li>
    <li><a href="#edu">Education</a></li>
    <li><a href="#like">What I <span class="heart">&#10084;</span></a></li>
</ul>

<h3 id="summary">Background Summary</h3>
<ul>
    <li>7+ years of experience as software engineer and architect esp. in enterprise web-based applications</li>
    <li>Designed and implemented several project-based specific web-frameworks based on generic ones</li>
    <li>Led a team of developers in several projects throughout the whole software development life-cycle</li>
</ul>

<h3 id="experiences">Experiences</h3>
<ul>
<li>Software Engineer &#64;<a href="http://www.rayvarz.com/">Rayvarz Software Engineering Co.</a>
	<ul>
	<li>Duration: April <code>2013</code> &#10230; Present</li>
	<li>Description:
		<ul>
	    <li>Developer:
	        <ul>
	        <li>Web Application Development, <code>PHP 5+ | Drupal 6.x/7.x | jQuery{UI} | MySQL 5+</code></li>
	        <li>Drupal Core/Module Development</li>
	        </ul>
	    </li>
	    <li>System/Web Administrator:
	        <ul>
	        <li>Administration &amp; Securing Unix-like Servers</li>
	        <li>Optimization of Web Stack, <code>CentOS 5 &amp; 6 | Apache HttpD | MySQL 5 | Varnish-Cache 3.x | Apache SVN | Apache JMeter | Apache Benchmark | Bash</code></li>
	        </ul>
	    </li>
		</ul>
	</li>
	</ul>
</li>
<li>Senior Software Engineer/Team Lead &#64;<a href="http://www.shiveh.com/">Shiveh Software Co.</a>
    <ul>
    <li>Duration: October <code>2009</code> &#10230; May <code>2012</code></li>
    <li>Description:
        <ul>
        <li>Design &amp; Development of <a href="http://en.wikipedia.org/wiki/Geographic_information_system" title="Geographic Information System">G.I.S</a> &amp; <a href="http://en.wikipedia.org/wiki/Automatic_vehicle_location" title="Automated Vehicle Location">A.V.L</a> Web Applications, <code>PHP 5+ | Zend Framework 1.x | jQuery{UI} | MySQL 5/ORM</code></li>
        <li>Installation, Administration &amp; Maintaining Servers, <code>CentOS 5 &amp; 6 | Apache HttpD | MySQL 5 | Apache SVN | Redmine | Nagios | Bash</code></li>
        </ul>
    </li>
    <li>Projects:
        <ul>
        <li>G.I.S M.I.M, IR Ministry of Industries &amp; Mines</li>
        <li>G.D.M.S BreakWater, IR Ports &amp; Maritime Organization</li>
        <li>G.D.M.S Karun4 Dam, IR Water &amp; Power Resources Development Co.</li>
        <li>Shiveh A.V.L Management System, eNterprise &amp; eXpress Editions</li>
        <li>Shiveh G.I.S Map Viewer(a.k.a Crystal Ball)</li>
        </ul>
    </li>
    </ul>
</li>
<li>Software Engineer &#64;Freelance
    <ul>
    <li>Developer:
        <ul>
        <li>Duration: April <code>2006</code> &#10230; Present</li>
        <li>Description:
            <ul>
            <li>Design &amp; Development of Web Applications, and Platform/Service Applications mainly based on Open-Source Solutions, <code>PHP</code></li>
            </ul>
        </li>
        </ul>
    </li>
    <li>System/Web Administrator:
        <ul>
        <li>Duration: April <code>2010</code> &#10230; Present</li>
        <li>Description:
            <ul>
            <li>Installation, Administration &amp; Maintaining Servers, <code>*nix(Deb-flavored:Debian/Ubuntu Server|RPM-flavored:CentOS/Fedora) | Apache HttpD | Nagios | RedMine | SVN Repo | IPTables</code></li>
            <li>Optimization of Web Stack, <code>Varnish-Cache | Apache JMeter | MemCacheD | MySQL Proxy | Apache Benchmark</code></li>
            </ul>
        </li>
        </ul>
    </li>
    <li>Penetration Tester:
        <ul>
        <li>Duration: April <code>2013</code> &#10230; Present</li>
        <li>Description:
            <ul>
            <li>White Hat Cyber Security Web Application Analysis &amp; PenTest, <code>BSD | Metasploit | OWASP | W3af | Nessus | NMap | Python | Bash</code></li>
            </ul>
        </li>
        </ul>
    </li>
    </ul>
</li>
</ul>

<h3 id="tags">Technologies Tags</h3>
<ul class="cloud">
<li>PHP5</li>
<li>Zend Framework 1.x</li>
<li>Symfony 2.x/Silex 1.x Frameworks</li>
<li>Twig</li>
<li>MonoLog</li>
<li>Drupal{Core/Distributions/Modules} 6.x/7.x</li>
<li>jQuery{UI}</li>
<li>HTML5/CSS3</li>
<li>RegularExpressions</li>
<li>Memcached</li>
<li>Varnish-Cache 3.x</li>
<li>Apache HttpD 2.x</li>
<li>XDebug/PHProf</li>
<li>PHPUnit</li>
<li>MySQL{Proxy} 5.x</li>
<li>PostgreSQL</li>
<li>SQLite</li>
<li>ORM:Doctrine/Propel</li>
<li>XML/XQuery/XPath</li>
<li>Bash</li>
<li>UML</li>
<li>Apache SVN</li>
<li>Git</li>
<li>GNUPlot</li>
</ul>

<h3 id="projects">Highlighted Projects</h3>
<ul>
<li>Dental Lab Management: Management &amp; Accounting of Dental Lab for Behsazan Dental Lab, <code>PHP 5+ | Symfony 2+ | Twig | MonoLog | Doctrine</code></li>
<li><a href="http://www.nargesabbaszadeh.com/">Narges Abbaszadeh</a>: Official Personal WebSite of Narges Abbaszadeh, <code>PHP 5+ | Silex | Twig | MonoLog | Doctrine</code></li>
<li><a href="/">/s&beta;in</a>: My Personal Website &lt;3 &lt;3, <code>Jekyll | MarkDown</code></li>
<li>Seek&amp;Destroy(a.k.a blackSearch): A Search App with PreDefined Special Goal/Files to Eliminate All Possible HardDisks/Network Drivers Data that doesn't match with it's Goal, <code>Java 5 | C#.Net 2.0</code></li>
<li>Video Fusion: Parallel Video Signal Processing for <a href="http://www.ihu.ac.ir/">Imam-Hossein University, IR</a>, <code>C#.Net 3.5</code></li>
<li>Simulators: Atomosphere, Laser &amp; Sensor Camera Simulations for <a href="http://fa.wikipedia.org/wiki/%D8%B3%D8%A7%D8%B2%D9%85%D8%A7%D9%86_%D8%B5%D9%86%D8%A7%DB%8C%D8%B9_%D9%87%D9%88%D8%A7%DB%8C%DB%8C_%D8%A7%DB%8C%D8%B1%D8%A7%D9%86">Aviation Industries, IR</a>, <code>C#.Net 2.0</code>
    <ul>
    <li>Sensor Simulation: Thermal Sensor Camera Simulator</li>
    <li>Beam Propagation: Laser Propagation in Atmosphere Simulator</li>
    <li>Atmosphere Modeling: Atmosphere Spectral Throughput Simulator</li>
    </ul>
</li>
</ul>

<h3 id="edu">Education</h3>
<ul>
<li>Computer Science, B.ScComp, <a href="http://www.pnu.ac.ir/" title="P.N.U">Payame Noor University</a>, <code>2012</code> &#10230; Present</li>
<li>A.C.C.P (Aptech Certified Computer Professional), B.ScIT, <a href="http://www.aptech-worldwide.com/" title="APTECH Computer Education Center">Aptech Computer Education</a>, <code>2005</code> &#10230; <code>2008</code></li>
<li><del>Pure Mathematics, B.ScMath, <a href="http://www.kntu.ac.ir/" title="K.N.T.U">K.N.Toosi University of Technology</a>, <code>2004</code> &#10230; <code>2007</code> left</del></li>
</ul>

<h3 id="like">What I <span class="heart">&#10084;</span>!</h3>
<ul>
<li><a href="http://en.wikipedia.org/wiki/Artificial_neural_network" title="Artificial Neural Networks">Neural Networks</a> &amp; <a href="http://en.wikipedia.org/wiki/Artificial_intelligence" title="Artificial Intelligence">A.I</a></li>
<li>Mapping &amp; Implementation of Human Brain's Thinking System in Software Systems(System Theory)</li>
<li>Software Patterns/Algorithms</li>
<li>Cloud Computing/SaaS</li>
<li>Security in WWW</li>
<li><a href="http://en.wikipedia.org/wiki/Cryptography" title="Cryptography">Cryptography</a></li>
<li>Mathematics: <a href="http://en.wikipedia.org/wiki/Fractal" title="Fractals"></a> &amp; <a href="http://en.wikipedia.org/wiki/Geometry" title="Geometry">Geometry</a> &amp; Usage of them in Life esp. Magic Numbers</li>
<li><a href="http://en.wikipedia.org/wiki/Data_visualization" title="Data Visualization">Data Visualization</a></li>
<li><a href="http://en.wikipedia.org/wiki/Space_science" title="Space Science">Space Science</a> &amp; <a href="http://en.wikipedia.org/wiki/Astronomy" title="Astronomy">Astronomy</a></li>
</ul>