<h2>Projects</h2>

<h3>Open-Source</h3>
<ul>
<li><a href="https://github.com/slashsBin/Anahita" target="_blank">Anahita</a>: A Hack of Drupal to integrate performance &amp; scalability, <code>PHP | Drupal | Varnish-Cache | GNUPlot</code></li>
<li><a href="https://github.com/slashsBin/iMirror" target="_blank">iMirror</a>: iNotify Mirror &amp; Sync Bash App, <code>Konsole | Bash</code></li>
<li><a href="https://github.com/slashsBin/nuCache" target="_blank">&nu;Cache</a>: Varnish-Cache Modular Configuration with Pre-Defined Production Ready Modules, <code>Varnish-Cache | Bash</code></li>
<li><a href="https://github.com/slashsBin/onyX" target="_blank">onyX</a>: Rapid development + Pre-Configured skeleton for Silex MicroFramework, <code>Silex | PHP</code></li>
</ul>