@keyframes spinAround {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
@-webkit-keyframes spinAround {
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinAround {
    from { -moz-transform: rotate(0deg); }
    to   { -moz-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: rotateY(0); }
    to   { transform: rotateY(-360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotateY(0); }
    to   { -moz-transform: rotateY(-360deg); }
}

@keyframes heartbeat {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.3); }
    100% { transform: scale(1); }
}
@-webkit-keyframes heartbeat {
    0%   { -webkit-transform: scale(1); }
    50%  { -webkit-transform: scale(1.3); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes heartbeat {
    0%   { -moz-transform: scale(1); }
    50%  { -moz-transform: scale(1.3); }
    100% { -moz-transform: scale(1); }
}