@media (min-width: 992px) {
    nav .container-fluid {
        max-width: 900px;
    }
}

body {
    padding-top: 50px;
    margin-bottom: 96px;
}

#header_companion > div {
    min-height: 16px;
}

#logo {
    position: fixed;
    left: 50%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
#footer > div > div {
    padding: 10px;
}
#footer img {
    width: 55px;
    height: 55px;
}