@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-mono text-base bg-gray-900 slashed-zero selection:bg-persian-green selection:text-gray-900;
    }

    pre {
        @apply text-[0.625rem]/tight sm:text-xs/tight lg:text-sm/tight tracking-normal select-none;
    }

    a {
        @apply text-persian-green;
    }

    a:hover {
        @apply text-persian-rose cursor-crosshair;
        text-shadow:
            0 0 64px theme(colors.gray.600 / 40%),
            0 0 32px theme(colors.persian-rose);
    }
}

@layer components {
    .pancake-stack {
        @apply grid;
        grid-template-rows: auto 1fr auto;
    }

    .gentle-flex {
        @apply flex flex-col items-center justify-center;
    }
}
