@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-mono text-base bg-gray-900 slashed-zero;
    }

    pre {
        @apply text-[0.625rem]/tight sm:text-xs/tight lg:text-sm/tight tracking-normal;
    }

    a:hover {
        color: theme('colors.persian-rose');
    }
}

@layer components {
    .pancake-stack {
        @apply grid;
        grid-template-rows: auto 1fr auto;
    }

    .gentle-flex {
        @apply flex flex-col items-center justify-center;
    }
}
