a {
    color: #40A0FF;
}

code {
    color: #FFF;
    background-color: #40A0FF;
}
code:hover {
    background-color: #000;
}

::selection {
    background: #FFF;
    color: #40A0FF;
    text-shadow: none;
}

.name {
    font-family: 'Dawning of a New Day', cursive;
    font-size: xx-large;
    letter-spacing: 0;
}
.name:hover {
    color: #40A0FF;
}

.slashsbin {
    font-family: 'Iceberg';
    font-weight: normal;
    font-size: 3em;
    color: #000;
}

.white {
	color: #FFF !important;
}

#navBar a {
    font-family: 'Iceberg';
}
#navBar .active #logo {
    background: none;
}

@media(min-width:992px) {
    #navBar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    #logo {
        font-size: 4em;
    }

    #navBar.navbar-collapse #logo {
        font-size: 3em;
    }
}
#navBar.navbar-collapse {
    padding: 0;
    background-color: #000;
}
#navBar.navbar-collapse a {
    color: #FFF;
}
#navBar.navbar-collapse .active a {
    background-color: #FFF;
    color: #000;
}
#navBar.navbar-collapse .active #logo {
    color: #FFF;
}

.companion > div:nth-child(1) { background-color: rgb(40,40,40); }
.companion > div:nth-child(2) { background-color: rgb(80,80,80); }
.companion > div:nth-child(3) { background-color: rgb(120,120,120); }
.companion > div:nth-child(4) { background-color: rgb(160,160,160); }
.companion > div:nth-child(5) { background-color: rgb(200,200,200); }
.companion > div:nth-child(6) { background-color: rgb(255,255,255); }

#footer {
    color: #FFF;
    background-color: rgba(255,255,255,0.4);
    box-shadow: inset 0 -24px 48px rgba(0, 0, 0, 0.2), 0 -6px 0 rgba(0, 0, 0, 0.1);
}

#core #core-context #core-container #stage #shape .plane {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
}

#content .section.row .section-container {
    background-color: rgba(255,255,255,0.8);
}

#content #about.section #avatar, #content #contact.section #QR {
    border: 2px dashed rgb(128,128,128);
}
#content #about.section #avatar:hover, #content #contact.section #QR:hover {
    border-color: #40A0FF;
}

.heart:hover {
    color: #FFF;
    text-shadow: 0 0 5px #FFF,
        0 0 10px #FFF,
        0 0 15px #FFF,
        0 0 20px #40A0FF,
        0 0 30px #40A0FF,
        0 0 40px #40A0FF,
        0 0 50px #40A0FF,
        0 0 75px #40A0FF;
}
