<h2>About Me</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>My name is <span class="name">Mohammad Shokri</span> and<br />I'm a Web Architect</h3>
<p>
    <img id="avatar" alt="avatar" class="tt" data-toggle="tooltip" data-placement="top" title="/sBin" width="128" height="128" src="/assets/img/slashsBin.png" />
    I am a {{ site.time | date: "%Y" | minus: 1986 }} years old <code>Terran</code> web architect 
    who likes beautiful <code>code</code> and has an adherence to standards &amp; open-source solutions. I study Software 
    Engineering &amp; Security and work as a Web Developer/System Administrator in
    Tehran. I like to specialise in securing enterprise level web applications esp.
    on Unix-like platforms. As a full stack web developer I practice framework-based
    web application development primary using <code>Symfony</code>.
    In my free time, you'll find me trying to find out a <code>pattern</code> for an
    ability I tried to achieve before, hacking on some random piece of
    <code>code</code> which I'm excited about, playing with <code>Debian</code> or
    <code>BSD</code>, or curiously <code>Pen Testing</code> a web suite while
    putting a <code>Grey Hat</code> on.

    Influences & Values:
      - Polite honesty over compliant behaviour.
      - A hardcore aversion to complexity.
      - Improvement over initial perfection.
      - Often solve low level problems in isolation to keep focus on high level needs.
      - Teaching is the best way avenue to learning.
</p>
