<h2>About Me</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>My name is <span class="name">Mohammad Shokri</span> and<br />I'm a Software Architect</h3>
<p>
    <img id="avatar" alt="avatar" class="tt" data-toggle="tooltip" data-placement="top" title="/sBin" src="/assets/img/slashsBin.png" />
    I am a {{ site.time | date: "%Y" | minus: 1986 }} years old software architect who likes beautiful <code>code</code> and 
    has an adherence to standards &amp; open-source solutions. I study Software 
    Engineering &amp; Security and work as a Web Developer/System Administrator in 
    Tehran. I like to specialize in securing enterprise level web applications esp. 
    on Unix-like platforms. As a web software engineer I practice framework-based 
    web application development primary using <code>PHP</code>, and as a platform 
    software engineer I practice SaaS applications primary using <code>Java</code>.  
    In my free time, you'll find me trying to find out a <code>pattern</code> for an 
    ability I tried to achieve before, hacking on some random piece of 
    <code>code</code> which I'm excited about, playing with <code>Debian</code> or 
    <code>BSD</code>, or curiously <code>Pen Testing</code> a web suite while 
    putting a <code>Gray Hat</code> on.
</p>