<h2>About Me</h2>


<h3>Hi! My name is <span class="name">Mohammad Shokri</span> & I'm a Software Engineer</h3>
<p>
<img id="avatar" alt="avatar" title="/sBin" src="/media/slashsBin.png" />
I am a 27 years old software engineer who likes beautiful <code>code</code> and 
has an adherence to standards &amp; open-source solutions. I study Software 
Engineering &amp; Security and work as a Web Developer/System Administrator in 
Tehran. I like to specialize in securing enterprise level web applications esp. 
on Unix-like platforms. As a web software engineer I practice framework-based 
web application development primary using <code>PHP</code>, and as a platform 
software engineer I practice SaaS applications primary using <code>Java</code>.  
In my free time, you'll find me trying to find out a <code>pattern</code> for an 
ability I tried to achieve before, hacking on some random piece of 
<code>code</code> which I'm excited about, playing with <code>Ubuntu</code> or 
<code>BSD</code>, or curiously <code>Pen Testing</code> a web suite while 
putting on a <code>Gray Hat</code>.
</p>