<h2>Contact Me</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<p>
    <img id="QR" width="196" height="196" src="/assets/img/QR.png" alt="My OR Code" class="tt" data-toggle="tooltip" data-placement="top" title="Mohammad Shokri Contact Information QR Code" data-m="false" />
    You can always <a class="eMail tt" href="{{ "http://www.google.com/recaptcha/mailhide/d?k=01hQ3kd83nIQ9uDfoSsoeixg==&c=MVu4Bp2hsiepJEBTS1AXUYkUC2ZH7hU6MRoiWaM8N_o=" | cgi_escape }}" data-toggle="tooltip" data-placement="top" title="Mohammad Shokri Work eMail Address">get in Touch with me</a> to discuss similar interests,
    anything about my Resume or any of the Projects. For additional Privacy you can
    grab <a href="/MohammadShokri.asc" class="tt" data-toggle="tooltip" data-placement="top" title="Mohammad Shokri Personal ASCII Armored GnuPG Key" download>My GPG Key</a> and send me an <a class="eMail tt" href="{{ "http://www.google.com/recaptcha/mailhide/d?k=01hQ3kd83nIQ9uDfoSsoeixg==&c=MVu4Bp2hsiepJEBTS1AXUYkUC2ZH7hU6MRoiWaM8N_o=" | cgi_escape }}" data-toggle="tooltip" data-placement="top" title="Mohammad Shokri Work eMail Address">eMail</a>
    using it. Here on right is My QR Code, use it to save My Contact Information
    on your mobile device.
</p>

<ul>
    <li><a id="contactMe-email" class="eMail icon tt" data-toggle="tooltip" data-placement="top" title="eMail" data-icon="mail" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="{{ "http://www.google.com/recaptcha/mailhide/d?k=01hQ3kd83nIQ9uDfoSsoeixg==&c=MVu4Bp2hsiepJEBTS1AXUYkUC2ZH7hU6MRoiWaM8N_o=" | cgi_escape }}"></a></li>
    <li><a id="contactMe-gpg" class="icon tt" data-toggle="tooltip" data-placement="top" title="Mohammad Shokri Personal ASCII Armored GnuPG Key" data-icon="key" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="/MohammadShokri.asc" download></a></li>
    <li><a id="contactMe-slashsbin" class="icon tt" data-toggle="tooltip" data-placement="top" title="Personal Website" data-icon="globeAlt" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="/"></a></li>
    <li><a id="contactMe-skype" class="icon tt" data-toggle="tooltip" data-placement="top" title="Skype" data-icon="skype" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="callto:slashsbin"></a></li>
    <li><a id="contactMe-telegram" class="icon tt" data-toggle="tooltip" data-placement="top" title="Telegram" data-icon="chat" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://telegram.me/slashsbin"></a></li>
    <li><a id="contactMe-evernote" class="icon tt" data-toggle="tooltip" data-placement="top" title="EverNote" data-icon="edit" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://www.evernote.com/pub/shokrim165/cyberroze.md"></a></li>
</ul>

<div class="clearfix"></div>

<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src=" {{ "https://docs.google.com/forms/d/1Tq-U9y6-jJITvML-lMv_lTv3rSPYfMqN2cZ13bsvO0Q/viewform?embedded=true" | cgi_escape }}" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
