<h2>Contact Me</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<p>
    <img id="QR" src="/assets/img/QR.png" alt="My OR Code" title="Mohammad Shokri Contact Information QR Code" data-m="false" />
    You can always <a class="eMail" href="http://www.google.com/recaptcha/mailhide/d?k=01hQ3kd83nIQ9uDfoSsoeixg==&c=MVu4Bp2hsiepJEBTS1AXUYkUC2ZH7hU6MRoiWaM8N_o=" title="Mohammad Shokri Work eMail Address">get in Touch with me</a> to discuss similar interests,
    anything about my Resume or any of the Projects. For additional Privacy you can
    grab <a href="/MohammadShokri.asc" title="Mohammad Shokri Personal ASCII Armored GnuPG Key" download>My GPG Key</a> and send me an <a class="eMail" href="http://www.google.com/recaptcha/mailhide/d?k=01hQ3kd83nIQ9uDfoSsoeixg==&c=MVu4Bp2hsiepJEBTS1AXUYkUC2ZH7hU6MRoiWaM8N_o=" title="Mohammad Shokri Work eMail Address">eMail</a> 
    using it. Here on right is My QR Code, use it to save My Contact Information 
    on your mobile device (Note: If you have problem scanning the QR Code click
    on it to switch to enlarged Version with higher error-correctness ratio).
</p>

<ul>
    <li><a id="contactMe-email" class="eMail icon" title="eMail" data-icon="mail" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="http://www.google.com/recaptcha/mailhide/d?k=01hQ3kd83nIQ9uDfoSsoeixg==&c=MVu4Bp2hsiepJEBTS1AXUYkUC2ZH7hU6MRoiWaM8N_o="></a></li>
    <li><a id="contactMe-gpg" class="icon" title="Mohammad Shokri Personal ASCII Armored GnuPG Key" data-icon="key" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="/MohammadShokri.asc" download></a></li>
    <li><a id="contactMe-slashsbin" class="icon" title="Personal Website" data-icon="globeAlt" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="/"></a></li>
    <li><a id="contactMe-skype" class="icon" title="Skype" data-icon="skype" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="callto:slashsbin"></a></li>
</ul>