<h2><span class="name">Mohammad Shokri's</span> R&eacute;sum&eacute;</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3 id="summary">Background Summary</h3>
<ul>
    <li><code>{{ site.time | date: "%Y" | minus: 2006 }}+</code> years of experience as software engineer and architect esp. in enterprise web-based applications.</li>
    <li>Designed and implemented several project-based specific web-frameworks based on generic ones.</li>
    <li>Led teams of developers in several projects throughout the whole software development life-cycle.</li>
</ul>

<h4 id="valuez">Influences &amp; Values</h4>
<ul>
    <li>Polite honesty over compliant behavior.</li>
    <li>A hardcore aversion to complexity.</li>
    <li>Improvement over initial perfection.</li>
    <li>Often solve low level problems in isolation to keep focus on high level needs.</li>
    <li>Teaching is the best way avenue to learning.</li>
</ul>

<h3 id="experiences">Professional Experiences</h3>
<ul>
    <li>Portal Department Manager, CWO & Team Lead &#64;<a href="http://rayvarz.com/">Rayvarz Software Engineering Co.</a>
        <ul>
            <li>Duration: October <code>2014</code> &#10230; Present</li>
        </ul>
    </li>
    <li>Web Architect & CTO &#64;<a href="https://behdentallab.com/">Behsazan Dental Laboratory</a>
        <ul>
            <li>Duration: April <code>2012</code> &#10230; Present</li>
        </ul>
    </li>
    <li>Software Architect &#64;<a href="http://rayvarz.com/">Rayvarz Software Engineering Co.</a>
        <ul>
            <li>Duration: April <code>2013</code> &#10230; Present</li>
            <li>Description:
                <ul>
                    <li>Developer:
                        <ul>
                            <li>Web Application Development, <code>PHP 5+ | Symfony 2+ | Doctrine ORM | MySQL 5+ | PHPUnit | AngularJS</code></li>
                        </ul>
                    </li>
                    <li>System/Web Administrator:
                        <ul>
                            <li>Administration &amp; Securing Unix-like Servers</li>
                            <li>Optimization of Web Stack, <code>Debian 7+ | Apache HttpD | NginX | FPM | MySQL 5+ | MariaDB 10+ | Varnish-Cache 3.x | Apache SVN | Git | Apache JMeter | Apache Benchmark | Bash</code></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Senior Web Architect/Team Lead &#64;<a href="http://www.shiveh.com/">Shiveh Software Co.</a>
        <ul>
            <li>Duration: October <code>2009</code> &#10230; May <code>2012</code></li>
            <li>Description:
                <ul>
                    <li>Design &amp; Development of <a href="http://en.wikipedia.org/wiki/Geographic_information_system" class="tt" data-toggle="tooltip" data-placement="top" title="Geographic Information System">G.I.S</a> &amp; <a href="http://en.wikipedia.org/wiki/Automatic_vehicle_location" class="tt" data-toggle="tooltip" data-placement="top" title="Automated Vehicle Location">A.V.L</a> Web Applications, <code>PHP 5+ | Zend Framework 1.x | jQuery{UI} | MySQL 5/ORM</code></li>
                    <li>Installation, Administration &amp; Maintaining Servers, <code>CentOS 5 &amp; 6 | Apache HttpD | MySQL 5+ | Apache SVN | Redmine | Nagios | Bash</code></li>
                </ul>
            </li>
            <li>Projects:
                <ul>
                    <li>G.I.S M.I.M, IR Ministry of Industries &amp; Mines</li>
                    <li>G.D.M.S BreakWater, IR Ports &amp; Maritime Organization</li>
                    <li>G.D.M.S Karun4 Dam, IR Water &amp; Power Resources Development Co.</li>
                    <li>Shiveh A.V.L Management System, eNterprise &amp; eXpress Editions</li>
                    <li>Shiveh G.I.S Map Viewer(a.k.a Crystal Ball)</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Software/Web Developer & WebMaster &#64;Freelance
        <ul>
            <li>Developer:
                <ul>
                    <li>Duration: April <code>2006</code> &#10230; Present</li>
                    <li>Description:
                        <ul>
                            <li>Design &amp; Development of Web Applications, and Platform/Service Applications mainly based on Open-Source Solutions, <code>PHP</code></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>System/Web Administrator:
                <ul>
                    <li>Duration: April <code>2010</code> &#10230; Present</li>
                    <li>Description:
                        <ul>
                            <li>Installation, Administration &amp; Maintaining Servers, <code>*nix(Deb-flavored:Debian/Ubuntu Server|RPM-flavored:CentOS/Fedora) | Apache HttpD | Nagios | RedMine | SVN Repo | IPTables</code></li>
                            <li>Optimization of Web Stack, <code>Varnish-Cache | Apache JMeter | MemCacheD | MySQL Proxy | Apache Benchmark</code></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Penetration Tester:
                <ul>
                    <li>Duration: April <code>2013</code> &#10230; Present</li>
                    <li>Description:
                        <ul>
                            <li>White Hat Cyber Security Web Application Analysis &amp; PenTest, <code>BSD | Metasploit | OWASP | W3af | Nessus | NMap | Python | Bash</code></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h3 id="tags">Technologies Tags Cloud</h3>
<ul class="cloud">
    <li>PHP 5</li>
    <li>Symfony 2.x/Silex 1.x Frameworks</li>
    <li>Twig</li>
    <li>MonoLog</li>
    <li>jQuery{UI}</li>
    <li>AngularJS</li>
    <li>RegularExpressions</li>
    <li>MemcacheD</li>
    <li>Varnish-Cache 3.x</li>
    <li>Apache HttpD 2.x</li>
    <li>NginX</li>
    <li>XDebug/PHProf</li>
    <li>PHPUnit</li>
    <li>MySQL{Proxy} 5.x</li>
    <li>MariaDB 10+</li>
    <li>Doctrine ORM</li>
    <li>Bash</li>
    <li>UML</li>
    <li>Git</li>
    <li>GNUPlot</li>
    <li>Debian</li>
    <li>DevOps</li>
    <li>FreeBSD</li>
    <li>R</li>
    <li>HHVM/HACK</li>
    <li>Jekyll</li>
</ul>

<h3 id="edu">Education</h3>
<ul>
    <li>Computer Science, B.ScComp, <a href="http://www.pnu.ac.ir/" class="tt" data-toggle="tooltip" data-placement="top" title="P.N.U">Payame Noor University</a>, <code>2012</code> &#10230; Present</li>
    <li>A.C.C.P (Aptech Certified Computer Professional), B.ScIT, <a href="http://www.aptech-worldwide.com/" class="tt" data-toggle="tooltip" data-placement="top" title="APTECH Computer Education Center">Aptech Computer Education</a>, <code>2005</code> &#10230; <code>2008</code></li>
    <li><del>Pure Mathematics, B.ScMath, <a href="http://www.kntu.ac.ir/" class="tt" data-toggle="tooltip" data-placement="top" title="K.N.T.U">K.N.Toosi University of Technology</a>, <code>2004</code> &#10230; <code>2007</code> left</del></li>
</ul>