<h2>ASCII Armored GnuPG Key</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<p>
    For additional Privacy you can
    grab <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xDE8DB5C4C532627E" class="tt" data-toggle="tooltip" data-placement="top" title="Mohammad Shokri Personal ASCII Armored GnuPG Key" target="_blank">My GPG Key</a> and send me an <a class="eMail tt" href="{{ "http://www.google.com/recaptcha/mailhide/d?k=01hQ3kd83nIQ9uDfoSsoeixg==&c=MVu4Bp2hsiepJEBTS1AXUYkUC2ZH7hU6MRoiWaM8N_o=" | uri_escape }}" data-toggle="tooltip" data-placement="top" title="Mohammad Shokri Work eMail Address">eMail</a>
    using it.
</p>
