<h2>What I <span class="glyphicon glyphicon-heart heart"></span>!</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>Concepts</h3>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Artificial_neural_network" class="tt" data-toggle="tooltip" data-placement="top" title="Artificial Neural Networks">Neural Networks</a> &amp; <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" class="tt" data-toggle="tooltip" data-placement="top" title="Artificial Intelligence">A.I</a></li>
    <li>Mapping &amp; Implementation of Human Brain's Thinking System in Software Systems(System Theory)</li>
    <li>Software Patterns/Algorithms</li>
    <li>Cloud Computing/SaaS</li>
    <li>Security in WWW</li>
    <li><a href="https://en.wikipedia.org/wiki/Cryptography" class="tt" data-toggle="tooltip" data-placement="top" title="Cryptography">Cryptography</a></li>
    <li>Mathematics: <a href="https://en.wikipedia.org/wiki/Fractal" class="tt" data-toggle="tooltip" data-placement="top" title="Fractals">Fractals</a> &amp; <a href="https://en.wikipedia.org/wiki/Geometry" class="tt" data-toggle="tooltip" data-placement="top" title="Geometry">Geometry</a> &amp; Usage of them in Life esp. Magic Numbers</li>
    <li><a href="https://en.wikipedia.org/wiki/Data_visualization" class="tt" data-toggle="tooltip" data-placement="top" title="Data Visualization">Data Visualization</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Space_science" class="tt" data-toggle="tooltip" data-placement="top" title="Space Science">Space Science</a> &amp; <a href="https://en.wikipedia.org/wiki/Astronomy" class="tt" data-toggle="tooltip" data-placement="top" title="Astronomy">Astronomy</a></li>
</ul>