<h2>Mentorship</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>elePHPant</h3>
Assist in Learning, Design &amp; Development of <code>PHP</code> Web Applications, from basic to advanced:
<ul>
    <li>Advanced Back-end PHP Programming &amp; Standards</li>
    <li>PHP 5.6 New Features</li>
    <li>Silex/Symfony Frameworks</li>
    <li>Performance Optimization</li>
    <li>Modern Web-Platform Innovative Technologies</li>
</ul>

<a href="/mentor-elePHPant/" target="_blank">More Info</a>