<h2>Elsewhere on the Net</h2>

<p>
I am registered at numerous social networks &amp; webservices, here you can find
 me on the Net, feel free to contact me:
</p>

<ul class="preserve">
<li><a id="etc-linkedin" title="LinkedIn" class="icon" data-icon="linkedin" data-icon-size-x="64" data-icon-size-y="64" href="https://www.linkedin.com/in/mohammadshokri" target="_blank"></a></li>
<li><a id="etc-twitter" title="Twitter" class="icon" data-icon="twitterbird" data-icon-size-x="64" data-icon-size-y="64" href="https://twitter.com/slashsbin" target="_blank"></a></li>
<li><a id="etc-github" title="GitHub" class="icon" data-icon="github" data-icon-size-x="64" data-icon-size-y="64" href="https://github.com/slashsBin" target="_blank"></a></li>
<li><a id="etc-bitbucket" title="BitBucket" class="icon" data-icon="bucket" data-icon-size-x="64" data-icon-size-y="64" href="https://bitbucket.org/slashsbin" target="_blank"></a></li>
<li><a id="etc-geeklist" title="GeekLi.st" class="icon" data-icon="list" data-icon-size-x="64" data-icon-size-y="64" href="https://geekli.st/slashsbin" target="_blank"></a></li>
<li><a id="etc-stackexchange" title="StackExchange" class="icon" data-icon="commandline" data-icon-size-x="64" data-icon-size-y="64" href="http://careers.stackoverflow.com/slashsbin" target="_blank"></a></li>
<li><a id="etc-facebook" title="FaceBook" class="icon" data-icon="facebook" data-icon-size-x="64" data-icon-size-y="64" href="https://www.fb.me/shokri.md" target="_blank"></a></li>
<li><a id="etc-gplus" title="Google+" class="icon" data-icon="gplus" data-icon-size-x="64" data-icon-size-y="64" href="https://profiles.google.com/shokri.md/" target="_blank"></a></li>
</ul>