<h2>On The Net</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<p>
    I am registered at numerous social networks &amp; webservices, here you can find
    me on the Net, feel free to contact me:
</p>

<ul>
    <li><a id="etc-linkedin" class="tt icon" data-toggle="tooltip" data-placement="top" title="LinkedIn" data-icon="linkedin" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://www.linkedin.com/in/mohammadshokri" target="_blank"></a></li>
    <li><a id="etc-twitter" class="tt icon" data-toggle="tooltip" data-placement="top" title="Twitter" data-icon="twitterbird" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://twitter.com/slashsbin" target="_blank"></a></li>
    <li><a id="etc-github" class="tt icon" data-toggle="tooltip" data-placement="top" title="GitHub" data-icon="github" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://github.com/slashsBin" target="_blank"></a></li>
    <li><a id="etc-bitbucket" class="tt icon" data-toggle="tooltip" data-placement="top" title="BitBucket" data-icon="bucket" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://bitbucket.org/slashsbin" target="_blank"></a></li>
    <li><a id="etc-geeklist" class="tt icon" data-toggle="tooltip" data-placement="top" title="GeekLi.st" data-icon="list" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://geekli.st/slashsbin" target="_blank"></a></li>
    <li><a id="etc-stackexchange" class="tt icon" data-toggle="tooltip" data-placement="top" title="StackExchange" data-icon="commandline" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="http://careers.stackoverflow.com/slashsbin" target="_blank"></a></li>
    <li><a id="etc-facebook" class="tt icon" data-toggle="tooltip" data-placement="top" title="FaceBook" data-icon="facebook" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://www.fb.me/shokri.md" target="_blank"></a></li>
    <li><a id="etc-gplus" class="tt icon" data-toggle="tooltip" data-placement="top" title="Google+" data-icon="gplus" data-icon-theme="darkBlue" data-icon-size-x="64" data-icon-size-y="64" href="https://profiles.google.com/shokri.md/" target="_blank"></a></li>
</ul>