<h2>Projects</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>Open-Source</h3>
<ul>
    <li><a href="https://github.com/slashsBin/iMirror" target="_blank">iMirror</a>: iNotify Mirror &amp; Sync Bash App, <code>Konsole | Bash</code></li>
    <li><a href="https://github.com/slashsBin/nuCache" target="_blank">&nu;Cache</a>: Varnish-Cache Modular Configuration with Pre-Defined Production Ready Modules, <code>Varnish-Cache | Bash</code></li>
    <li><a href="https://github.com/slashsBin/onyX" target="_blank">onyX</a>: Rapid development + Pre-Configured skeleton for Silex MicroFramework, <code>Silex | PHP</code></li>
    <li><a href="https://github.com/slashsBin/tauTracker" target="_blank">&tau;racker</a>: Simple Tag-based Time Tracking, <code>Konsole | Bash</code></li>
</ul>