<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    <body id="cyberRoze" data-spy="scroll" data-target="#navBar">

        <!--NavBar-->
        <nav id="navBar" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid container-fluid-fixed-width  page-scroll">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#slashsbin_navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs slashsbin" href="{{ page.uri }}#cyberRoze">/s&beta;in</a>
                </div>
                <div id="slashsbin_navigation" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ page.uri }}#about">About</a></li>
                        <li><a href="{{ page.uri }}#projects">Projects</a></li>
                        <li><a href="{{ page.uri }}#cv">R&eacute;sum&eacute;</a></li>
                        <li><a href="{{ page.uri }}#mentorship">Mentorship</a></li>
                    </ul>
                    <ul class="nav navbar-nav hidden-xs">
                        <li><a id="logo" href="{{ page.uri }}#cyberRoze" class="navbar-link slashsbin">/s&beta;in</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    	<li><a href="{{ page.uri }}#vision">Vision</a></li>
                        <li><a href="{{ page.uri }}#onTheNet">On The NET</a></li>
                        <li><a href="{{ page.uri }}#contact">Contact</a></li>
                        <li{% if page.active == 'blog' %} class="active"{% endif %}><a href="/blog/">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {{ content }}

        <!--Footer-->
        <div id="footer">
            <div class="container-fluid">
                <div id="info" class="row">
                    <div class="hidden-xs hidden-sm col-md-8">
                        <div class="row">
                            <div class="col-xs-2 text-center"><a class="tt" href="http://www.catb.org/~esr/faqs/hacker-howto.html" data-toggle="tooltip" data-placement="top" title="Hacker" target="_blank"><img class="img-rounded" src="/assets/img/vendor/hacker.png" alt="Hacker" /></a></div>
                            <div class="col-xs-2 text-center"><a class="tt" href="https://en.gravatar.com/mohammadshokri" data-toggle="tooltip" data-placement="top" title="Gravatar" target="_blank"><img class="img-rounded" src="//www.gravatar.com/avatar/456abb344d5515fe4e18bbb62a2ebec6?s=55&d=identicon&f=y"  alt="Gravatar" /></a></div>
                            <div class="col-xs-2 text-center"><a class="tt" href="http://www.w3.org/TR/html5/" data-toggle="tooltip" data-placement="top" title="HTML5 Powered" target="_blank"><img class="img-rounded" src="/assets/img/vendor/html5.png" alt="HTML5 Powered" /></a></div>
                            <div class="col-xs-2 text-center"><a class="tt" href="http://careers.stackoverflow.com/slashsbin" data-toggle="tooltip" data-placement="top" title="Careers 2.0" target="_blank"><img class="img-rounded" src="/assets/img/vendor/careers2.png" alt="Careers 2.0" /></a></div>
                            <div class="col-xs-2 text-center"><a class="tt" href="http://internetdefenseleague.org" data-toggle="tooltip" data-placement="top" title="Member of The Internet Defense League" target="_blank"><img class="img-rounded" src="/assets/img/vendor/shield.png" alt="Internet Defense League" /></a></div>
                            <div class="col-xs-2 text-center"><a class="tt" href="http://ipv6.slashsbin.com/" data-toggle="tooltip" data-placement="top" title="THE WORLD IS DIFFERENT NOW" target="_blank"><img class="img-rounded" src="/assets/img/vendor/ipv6.png" alt="IPv6" /></a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 text-center">
                        <span>Demystified with </span><div class="clearfix hidden-xs hidden-sm"></div><span><code>C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub></code> &amp; <span class="heart">&#10084;</span></span>
                    </div>
                </div>
            </div>
        </div>

        <!--Assets: Scripts-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
        <script src="/assets/js/iconz.js"></script>
        <script src="/assets/js/core.js"></script>

        <!--Assets: Analytics-->
        {% include analytics.html %}
    </body>

    <!--
    
    01110100 01101000 01100001 01110100 01010111 01101000 01101001 01100011 01101000 01000110 01100101 01100101 01100100 01110011 01001101 01100101 01000100 01100101 01110011 01110100 01110010 01101111 01111001 01110011 01001101 01100101
    
    -->

</html>
