<!DOCTYPE html>
<!--[if IE]> <html class="crapware"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

{% include figlet.html %}

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Mohammad Shokri" />
<meta name="description" content="Mohammad Shokri's Personal Website" />
<meta name="viewport" content="width=device-width">
<title>/s&beta;in :: {{ page.title }}</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Ubuntu+Mono" />
<link rel="stylesheet" href="/css/vendor/normalize.css">
<link rel="stylesheet" href="/css/core.css">
<!--[if !IE]><!-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/js/vendor/raphael.min.js"></script>
<script src="/js/core.js"></script>
<!--<![endif]-->
</head>
<body>
<!--[if IE]>
<div id="bsod" class="crapware">
<pre>
A problem has been detected and windows has been shut down to prevent damage
to your computer.

The problem seems to be caused by the following file: IE-IS-A-<abbr title="Microsoft I.E">CRAPWARE</abbr>.SYS

USER_FAULT_IN_BROWSER_AREA

If this is the first time you've seen this stop error screen,
restart your computer. If this screen appears again, you are using a <abbr title="Microsoft I.E">CRAPWARE</abbr>,
follow these steps:

Remove Internet Explorer, then install a <a href="http://browsehappy.com/" title="I.E is NOT a Browser">Browser</a> and restart your computer.

Check to make sure any new hardware or software is properly installed.
If this is a new installation, ask your hardware or software manufacturer
for any windows updates you might need.

If problems continue, disable or remove any newly installed hardware
or software. Disable BIOS memory options such as caching or shadowing.
If you need to use Safe Mode to remove or disable components, restart
your computer, press F8 to select Advanced Startup Options, and then
select Safe Mode.

Technical Information:

*** STOP: 0x0DEFACED (0xABABABAB,0xBAADFOOD,0xCDCDCDCD,0xBEEFCACE)

***  IE-IS-A-<abbr title="Microsoft I.E">CRAPWARE</abbr>.SYS - Address DDDDDDDD base at CCCCCCCC, DateStamp FDFDFDFD
</pre>
</div>
<![endif]-->
<!--[if !IE]><!-->
<div id="old-school" style="display: none;">
<span>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</span>
</div>
<div id="header_companion">
    <div class="bgcolor1"></div><div class="bgcolor2"></div><div class="bgcolor3"></div><div class="bgcolor4"></div><div class="bgcolor5"></div><div class="bgcolor6"></div><div class="bgcolor7"></div><div class="bgcolor8"></div>
</div>
<div id="footer" class="fgcolor8" data-flip="0">
    <div id="info">
        <span>Demystified with <code class="preserve">C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub></code> & <span class="heart">&#10084;</span></span>
    </div>
    <ul>
        <li><a href="http://www.catb.org/~esr/faqs/hacker-howto.html" title="Hacker" target="_blank"><img src="http://www.catb.org/hacker-emblem/glider.png" alt="Hacker" /></a></li>
        <li><a href="https://en.gravatar.com/mohammadshokri" title="Gravatar" target="_blank"><img src="http://www.gravatar.com/avatar/456abb344d5515fe4e18bbb62a2ebec6?s=55&d=identicon&f=y"  alt="Gravatar" /></a></li>
        <li><a href="http://www.w3.org/TR/html5/" title="HTML5 Powered" target="_blank"><img src="http://www.w3.org/html/logo/downloads/HTML5_1Color_White.png" alt="HTML5 Powered" /></a></li>
        <li><a href="http://careers.stackoverflow.com/slashsbin" title="Careers 2.0" target="_blank"><img src="http://cdn.sstatic.net/stackexchange/img/logos/careers/careers-icon.png" alt="Careers 2.0" /></a></li>
        <li><a href="https://www.vizify.com/mohammad-shokri" title="Vizify" target="_blank"><img src="http://static.www.vizify.com/assets/vizumes/bdg/rrec128b.png" alt="Vizify" /></a></li>
        <li><a href="http://internetdefenseleague.org" title="Member of The Internet Defense League" target="_blank"><img src="http://internetdefenseleague.org/images/badges/final/shield_badge.png" alt="Internet Defense League" /></a></li>
    </ul>
</div>

<div id="sidebar">
    <ul>
    <li><a id="sidebar-cube" class="icon" data-icon="cube" data-icon-size-x="32" data-icon-size-y="32" href="#cube" title="Back 2 Cube!"></a></li>
    <li class="sidebar-separator"></li>
    <li><a id="sidebar-rainymood" class="icon" data-icon="sun" data-icon-size-x="32" data-icon-size-y="32" data-rain="0" href="#sun" title="Rain makes everything better"></a></li>
    <li class="sidebar-separator"></li>
    <li><a id="sidebar-volume" class="icon" data-icon="volume3" data-icon-size-x="32" data-icon-size-y="32" data-volume="1" data-volume-level="3" href="#volume" title="Volume"></a></li>
    </ul>
</div>
<div id="body">
    <div id="back-page" class="face">
        <div id="mask-projects" class="mask">{% include mask.projects.html %}</div>
        <div id="mask-about" class="mask">{% include mask.about.html %}</div>
        <div id="mask-contactMe" class="mask">{% include mask.contactMe.html %}</div>
        <div id="mask-CV" class="mask">{% include mask.CV.html %}</div>
        <div id="mask-GPG" class="mask">{% include mask.GPG.html %}</div>
        <div id="mask-elseWhere" class="mask">{% include mask.elseWhere.html %}</div>
    </div>
    <div id="front-page" class="face">
    {{ content }}
    </div>
</div>
{% include footer.html %}
<!--<![endif]-->
</body>

{% include binary.html %}

</html>