---
layout: default
active: blog
---

<!--Content-->
<div id="content" class="container-fluid container-fluid-fixed-width post">
	<div class="row section">
		<div class="col-xs-12 section-container">
			<h2 class="persian"><a class="post-avatar" href="{{ post.url }}"><img class="img-rounded" src="http://www.gravatar.com/avatar/{{ page.header | md5 }}?s=40&d=blank" /></a>{{ page.header }}</h2>
			<div class="row companion">
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
			</div>

			<div class="persian">
			{{ content }}
			</div>

			<div class="row">
				<div class="col-xs-12">
					<span class="glyphicon glyphicon-time"></span> {{ page.date | date: "%A %B %-d, %Y" }}
				</div>
			</div>
		</div>
	</div>
</div>